<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>HELLO</title>
</head>
<body>
<form id="product-form" role="form" th:action="@{/product/save}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="code">Code : </label>
        <input type="text" id="code" name="code" th:field="${product.code}"/>
    </div>
    <div>
        <label for="name">Name : </label>
        <input type="text" id="name" name="name" th:field="${product.name}"/>
    </div>
    <div>
        <label for="description">Description : </label>
        <input type="text" id="description" name="description" th:field="${product.description}"/>
    </div>
    <div>
        <label for="price">Price : </label>
        <input type="text" id="price" name="price" th:field="${product.price}"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>